@media screen {

}


body{
	background-color:  #02010a;
}

.contenido{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}

.Cabecera{
	background-color: #5b7989;
	border-radius:10px;
}
#titulo1{
	color:white;
	text-shadow: 2px 0px #02010a;
	text-align:left;
	margin: 20px;
}

.Enlaces	{
	margin: 0px 0px 10px 10px;
	text-align: right;

}

.Img1{
	width: 100%;

}

#imagen1{
	width: 100%;
	border: 10px #82c3a6 solid;
	margin-left:auto;
	margin-right:auto;
}
#imagen1 img{

}
