@media screen and (max-width:900px){
	.contenido{
		width: 100%;
		margin: 0 auto;
	}
}


body{
	background-color:  #02010a;
	font-family: 'Dancing Script';
}
@media screen and (min-width:900px) {
	.contenido
}

@media screen and (max-width:900px) {
	.contenido
}
.contenido{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
header{
	width: 100%;
	display: flex;
    justify-content: space-around;
    align-items: center;
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}
#titulo1{
	color:white;
	text-shadow: 2px 0px #02010a;
}

.Enlaces	{
color:white !important;
}

.Img1{
	width: 100%;
    height: 400px;
    background-color: #82c3a6;
}

.Img1 img{
 height: 90%;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin: 2% 0 0 20%;
}

.contenedor2{
		background-color: #d5c75f;
		display: flex;
		flex-direction: row;
}

.contenedor2 div{
	text-align: center;
	padding: 10px;
	margin: 30px;
	margin-bottom: 1px;
	width: 50%;
}

.img2 img{
	border: 1px solid black;
		height: 40%;
		transition-property: border;
		transition-duration: 0.5s;
}

.img2 img:hover{
border: 2px solid #82c3a6;
transform: rotate(10deg);
-webkit-box-shadow: 2px 2px 2px 2px rgba(130,195,166,1);
-moz-box-shadow: 2px 2px 2px 2px rgba(130,195,166,1);
box-shadow: 2px 2px 2px 2px rgba(130,195,166,1);
}

.img3 img{
	border: 1px solid black;
	height: 40%;
	transition-property: traslate;
	transition-duration: 2s;
}

.img3 img:hover{
	border: 2px solid #82c3a6;
	transform: translate(20px,-5px);
	-webkit-box-shadow: 2px 2px 2px 2px rgba(NaN,130,195,1);
	-moz-box-shadow: 2px 2px 2px 2px rgba(NaN,130,195,1);
	box-shadow: 2px 2px 2px 2px rgba(NaN,130,195,1);
}

footer{
	background-color: #C6d5c5;
	display: flex;
	flex-direction: row;
	border-radius: 0px 0px 10PX 10px;
}


.columna{
	  -webkit-flex-flow: row wrap;
		justify-content: space-around;
		width: 50%;
		margin: 10px;
}
